@model IEnumerable<TeacherTableRowServiceModel>

@{
    ViewData["Title"] = "Всички учители";
}

<nav class="d-flex" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home"><i class="fa-solid fa-arrow-left"></i> Назад</a>
        </li>
    </ol>
</nav>

<h3 class="text-center text-secondary">@ViewData["Title"]</h3>

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            <table class="table table-borderless">
                <thead>
                    <tr class="table-primary text-secondary">
                        <th scope="col">Име</th>
                        <th scope="col" class="col-2 text-center">Състояние</th>
                        <th scope="col" class="col-1 text-center">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model)
                    {
                        <tr class="@((teacher.IsDeleted || !teacher.IsActivated) ? "text-secondary" : "")">
                            <td>@teacher.FullName</td>
                            @if (!teacher.IsActivated)
                            {
                                <td class="text-center">изчаква</td>
                                <td class="text-center">
                                    <a asp-action="Activate"
                                       asp-route-id="@teacher.TeacherId"
                                       asp-route-schoolId="@teacher.SchoolId"
                                       class="text-success" title="Активирай">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </td>
                            }
                            else if (teacher.IsDeleted)
                            {
                                <td class="text-center">изтрит</td>
                                <td class="text-center">
                                    <a asp-action="Restore"
                                       asp-route-id="@teacher.TeacherId"
                                       asp-route-schoolId="@teacher.SchoolId"
                                       class="text-success" title="Възстанови">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">активен</td>
                                <td class="text-center">
                                    <a asp-action="Delete"
                                       asp-route-id="@teacher.TeacherId"
                                       asp-route-schoolId="@teacher.SchoolId"
                                       class="text-danger" title="Изтрий">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-primary text-center" role="alert">
        Няма регистрирани ученици.
    </div>
}


<partial name="_FontAwesomePartial" />