@model GroupExamsSelectFormModel

@{
    ViewData["Title"] = Model.GroupName;
}

<nav class="d-flex" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Group" asp-route-id="@Model.GroupId"><i class="fa-solid fa-arrow-left"></i> Назад</a>
        </li>
    </ol>
</nav>

<h3 class="text-center text-secondary">Добавяне на тема в група</h3>
<h5 class="text-center text-secondary">@ViewData["Title"]</h5>

@if (Model.ExamListToAdd.Any())
{
    <div class="row justify-content-center">
        <div class="p-3 col-md-6">
            <form class="mt-2" method="post">
                <input type="hidden" asp-for="GroupId" />
                <ul class="list-group">
                    @for (int i = 0; i < Model.ExamListToAdd.Count(); i++)
                    {
                        <li class="list-group-item">
                            <div class="form-check">
                                <input asp-for="@Model.ExamListToAdd[i].IsChecked" class="form-check-input" type="checkbox">
                                <label asp-for="@Model.ExamListToAdd[i].IsChecked" class="form-check-label">
                                    @Model.ExamListToAdd[i].Value
                                </label>
                                <input type="hidden" asp-for="@Model.ExamListToAdd[i].Key" />
                                <input type="hidden" asp-for="@Model.ExamListToAdd[i].Value" />
                            </div>
                        </li>
                    }
                </ul>

                <div class="text-center mt-3">
                    <a asp-action="Group" asp-route-id="@Model.GroupId" class="btn btn-outline-secondary">Отказ</a>
                    <button type="submit" class="btn btn-primary" disabled>Добави</button>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="alert alert-primary text-center" role="alert">
        Няма тема за добавяне. Може да създадете такава от меню "Теми".
    </div>
}

<partial name="_ValidationScriptsPartial" />
<partial name="_FontAwesomePartial" />
@section Scripts {
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').on('change', () => {
                let hasCheckedBox = false
                $('input[type="checkbox"]').each(function (i) {
                    if ($(this).prop('checked') == true) {
                        hasCheckedBox = true
                        return false
                    }
                })
                if (hasCheckedBox) {
                    $('button:submit').removeAttr('disabled')
                }
                else {
                    $('button:submit').attr('disabled', 'disabled')
                }
            })
        })
    </script>
}

