@model IEnumerable<TopicListItemServiceModel>

@{
    ViewData["Title"] = "Моите теми";
}

<div class="text-end">
    <a class="btn btn-primary" asp-action="Add">Създай тема</a>
</div>
<h3 class="text-center">@ViewData["Title"]</h3>


<div class="row justify-content-center align-items-center mt-3">
    <ol class="list-group list-group-numbered">
        @foreach (var topic in Model)
        {
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                <a class="ms-2 me-auto text-secondary"
                   asp-action="Topic" asp-route-id="@topic.Id">
                    <div class="fw-bold">@topic.Name</div>
                    @topic.Description
                </a>
                <a class="text-secondary" title="Редактиране"
                   asp-action="Edit" asp-route-id="@topic.Id">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
            </li>
        }
    </ol>
</div>

<partial name="_FontAwesomePartial" />
