@model TopicDetailsServiceModel

@using static Infrastructure.Constants.DataConstants

@{
    ViewData["Title"] = Model.TopicDetails.Name;
}

<nav class="d-flex" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action=""><i class="fa-solid fa-arrow-left"></i> Назад</a>
        </li>
    </ol>
</nav>

<h3 class="text-center text-secondary">@ViewData["Title"]</h3>

<div class="card">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <h5 class="card-title d-inline-block">
            <label asp-for="TopicDetails.Contents" class="form-label"></label>
        </h5>
        <a asp-action="Edit" asp-route-id="@Model.TopicDetails.Id"
           class="btn btn-sm btn-outline-primary"
           title="Редактирай съдържание">
            <i class="fa-regular fa-pen-to-square"></i>
        </a>
        @foreach (var contentsItem in @Model.TopicDetails.Contents.Split(Environment.NewLine))
        {
            <p class="card-text">
                @contentsItem
            </p>
        }

        <h5 class="card-title d-inline-block">
            <label asp-for="Resources" class="form-label"></label>
        </h5>
        <a href="#" class="btn btn-sm btn-outline-primary" title="Прикачи ресурс">
            <i class="fa-solid fa-paperclip"></i>
        </a>
        @foreach (var resModel in @Model.Resources)
        {
            <p class="card-text">
                @ResourceIconRef[resModel.IconRef] @resModel.TextToDisplay
            </p>
        }
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
<partial name="_FontAwesomePartial" />