@inject ISchoolService schoolService
@inject ITeacherService teacherService
@inject IGroupService groupService
@inject IStudentService studentService

@{
    ViewData["Title"] = "Начало";
    ViewData["Header"] = "Обща информация за системата";

     var schoolModel = new SummaryViewModel()
    {        
        ImageSrc = "images/school_icon.png",
        Title = "Училища",
        Value = await schoolService.GetSchoolsCountAsync(),
        Area = "Admin",
        Controller = "Schools",
        Action = "Index",
    };
    var groupModel = new SummaryViewModel()
    {        
        ImageSrc = "images/group_icon.png",
        Title = "Групи",
        Value = await groupService.GetGroupsCountAsync(),
        Area = "Admin",
        Controller = "Groups",
        Action = "Index",
    };
    var teacherModel = new SummaryViewModel()
    {        
        ImageSrc = "images/teacher_icon.png",
        Title = "Учители",
        Value = await teacherService.GetTeachersCountAsync(),
        Area = "Admin",
        Controller = "Teachers",
        Action = "Index",
    };
    var studentModel = new SummaryViewModel()
    {        
        ImageSrc = "images/student_icon.png",
        Title = "Ученици",
        Value = await studentService.GetStudentsCountAsync(),
        Area = "Admin",
        Controller = "Students",
        Action = "Index",
    };
}

<h3 class="text-center">@ViewData["Header"]</h3>

<div class="row justify-content-center">
    <partial name="_SummaryPartial" model="@schoolModel" />
    <partial name="_SummaryDisabledPartial" model="@teacherModel" />
    <partial name="_SummaryDisabledPartial" model="@groupModel" />
    <partial name="_SummaryDisabledPartial" model="@studentModel" />
</div>

